<h1 style="color: cyan; text-align: center; font-size: 250%; font-weight: bold;" >
            Feature Construction & Feature Splitting </h1>
<table style="width: 90%; border-collapse: collapse;">
    <tr>
        <th style="color: magenta; text-align: left; font-size: 130%; font-weight: bold;" colspan="2">
        List of the Contents:
        </th>
    </tr>
    <tr style="color: deeppink">
        <th>Topic name</th>
        <th>About</th>
    </tr>
    <tr>
        <td style="color:teal; font-weight:bold" > 1) Feature Construction</td>
        <td style="color:coral"> It's a process of creating new features or variables from existing data that can be used to improve the performance of ML models </td>
    </tr>
    <tr>
        <td style="color:teal; font-weight:bold" > 2) Feature Spliting</td>
        <td style="color:coral">It's a technique in ML that involves breaking down a single feature into multiple features.</td>
    </tr>
</table>

<h2 style="color:gold; text-align:left; font-size:200%; font-weight:bold;">
1) Feature Construction</h2>

In [43]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

#Data ingestion 
df=sns.load_dataset('titanic')
df= df[['pclass', 'age', 'sibsp', 'parch', 'survived']]

#Droping the missing values 
df=df.dropna()
df.info()
#<---------------------------------------------------------------------------------------------->
#Train-test split 
x=df.iloc[:, :-1]
y=df.iloc[:, -1]
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=42)

#<---------------------------------------------------------------------------------------------->
#Before Fearture construction:Model Training > fiting > prediction > accuracy score> cross validation
lr =LogisticRegression()
lr.fit(x_train, y_train) #traing 
y_pred=lr.predict(x_test) #Prediction 
print("lr model sccuracy:", accuracy_score(y_test, y_pred)) 
#cross validation 
print('lr cross val score',np.mean(cross_val_score(lr, x , y, scoring='accuracy', cv=25)))

#<---------------------------------------------------------------------------------------------->

#AAFTER FEATURE CONSTRCUTION :: 
#-----------creating new cols by combining (sibsp , parch & passenger itself)
x['family_size']=x['sibsp']+x['parch']+1
#now create a function that define family type(alone, small, large)
def my_func(num):
    if num==1:
        return 0 #alone 
    elif num>1 and num<=4:
        return 1 #small family 
    else:
        return 2 #large family 
#now apply the function 
x['family_type']=x['family_size'].apply(my_func)
print(x.sample(2))

#now make remove (sibsp, parch, family_size) cols from input
x.drop(columns=['sibsp', 'parch', 'family_size'], inplace=True)
print(x.sample(3))

#Now check the croos_val_score
print('lr cross val score',np.mean(cross_val_score(lr, x , y, scoring='accuracy', cv=25)))

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    714 non-null    int64
 1   age       714 non-null    float64
 2   sibsp     714 non-null    int64
 3   parch     714 non-null    int64
 4   survived  714 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 33.5 KB
lr model sccuracy: 0.6923076923076923
lr cross val score 0.6966009852216749
     pclass   age  sibsp  parch  family_size  family_type
7         3   2.0      3      1            5            2
537       1  30.0      0      0            1            0
     pclass   age  family_type
867       1  31.0            0
261       3   3.0            2
505       1  18.0            1
lr cross val score 0.700935960591133

<h2 style="color:gold; text-align:left; font-size:200%; font-weight:bold;">
2) Feature Splitting</h2>

In [75]:
import pandas as pd
import seaborn as sns

#Data ingestion 
df=pd.read_csv('titanic.csv')
df=df.dropna()
df.head()

#<--------------------------------------------------------------------------------->
#Applying Spliting in name col where i want to split solutation & Name 
df['title']=df['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]
df[['title', 'Name']]

    title                                               Name
1     Mrs  Cumings, Mrs. John Bradley (Florence Briggs Th...
3     Mrs       Futrelle, Mrs. Jacques Heath (Lily May Peel)
6      Mr                            McCarthy, Mr. Timothy J
10   Miss                    Sandstrom, Miss. Marguerite Rut
11   Miss                           Bonnell, Miss. Elizabeth
..    ...                                                ...
871   Mrs   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872    Mr                           Carlsson, Mr. Frans Olof
879   Mrs      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
887  Miss                       Graham, Miss. Margaret Edith
889    Mr                              Behr, Mr. Karl Howell

[183 rows x 2 columns]